@use '@angular/material' as mat;

/* Tema claro */
$tema-claro: mat.define-theme((
  color: (
    theme-type: light,
  ),
));

/* Tema escuro */
$tema-escuro: mat.define-theme((
  color: (
    theme-type: dark,
  ),
));

/* Classes que ativam os temas */
.theme-claro {
  @include mat.all-component-themes($tema-claro);
}

.theme-escuro {
  @include mat.all-component-themes($tema-escuro);
}
