@use './custom-theme.scss';

:root {
  --cor-primaria: #1B4D3E;   /* Verde escuro moderno */
  --cor-fundo: #F5F6F7;      /* Cinza claro */
  --cor-card: #FFFFFF;       /* Branco suave */
  --cor-borda: #E0E0E0;
    --cor-texto-principal: #333333; /* Cinza escuro para melhor legibilidade */
    --cor-texto-secundario: #666666; /* Cinza médio */
    --cor-entrada: #4CAF50;    /* Verde vibrante para entradas */
    --cor-saida: #F44336;      /* Vermelho vibrante para saídas */
    --cor-sombra: rgba(0, 0, 0, 0.1);
    }