.dashboard {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.card {
  padding: 20px;
  border-radius: 16px;
}

.chart {
  width: 100%;
  height: 350px;
}

@media (min-width: 900px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:last-child {
    grid-column: span 2;
  }
}
